@charset "UTF-8";
:root {
  --items: 1;
  --main-color: #212121;
  --first-color-content: #ffffff;
  --last-color-content: #757575;
  --color-btn: #2196f3;
  /* indent */
  --fitst-text-ind: 50px;
  --item-item-ind: 30px;
  --box-border-card: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: var(--first-color-content);
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
}

ul,
ol,
li,
a,
span,
p {
  margin: 0;
  padding-left: 0;
  text-decoration: none;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .header {
    padding: 21px 0 20px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0 24px 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  display: flex;
}

.header .container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header .container {
    align-items: baseline;
  }
}

.navigation,
.style-contact__item,
.container-nav {
  display: flex;
}

.navigation__style {
  display: flex;
}
@media screen and (min-width: 1200px) {
  .navigation__style {
    align-items: center;
  }
}

.style-contact__item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
@media screen and (min-width: 1200px) {
  .style-contact__item {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .navigation,
.style-contact__item {
    display: none;
  }
}

.navigation__style {
  margin-left: 88px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .navigation__style {
    margin-left: 93px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--color-btn);
}
@media screen and (min-width: 1200px) {
  .logo {
    display: flex;
    justify-content: flex-start;
  }
}

.logo__color-black {
  color: #000000;
}

.navigation__item:not(:last-child) {
  margin-right: var(--fitst-text-ind);
}

.navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.15;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover {
  color: var(--color-btn);
}

.navigation__link__color-grey {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.15;
  color: #757575;
}
.navigation__link__color-grey:hover {
  color: var(--color-btn);
}

@media screen and (max-width: 1199px) {
  .navigation-contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-contact__item:not(:last-child) {
    margin-right: 10px;
  }
}

.navigation__link__color-grey:hover .navigation__sublink {
  fill: currentColor;
}

/* подчеркивание */
.underscore {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.underscore::after {
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 29px;
  border-radius: 2px;
  background-color: var(--color-btn);
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.underscore:hover {
  color: var(--color-btn);
}
.underscore:hover::after, .underscore.active {
  opacity: 1;
}

.navigation__underscore-active:after,
.navigation__underscore-active.active {
  opacity: 1;
}

.navigation__sublink {
  margin-right: 10px;
  fill: #757575;
}
.navigation__link:hover .navigation__sublink {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.menu-svg {
  fill: #000000;
}

.menu-svg:hover {
  fill: #2196F3;
}

.container-mob {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.mob-nav__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-title__active-blue {
  color: var(--fitst-text-ind);
}

.mob-nav__link:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contact-item {
  margin-bottom: 64px;
}

.mob-contact__title-telefone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-contact__title-imaile {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-contact__link:not(:last-child) {
  margin-bottom: 32px;
}

.mob-soc-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.navigation__link-active {
  color: #2196F3;
}

.mob-soc-item {
  display: flex;
  align-items: center;
}

.mob-soc-item:not(:last-child):after {
  content: " ";
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.menu-open-btn,
.menu-close-btn {
  border: none;
  background-color: transparent;
  display: inline-flex;
}

.menu-open-btn,
.mob-menu {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-open-btn,
.mob-menu {
    display: none;
  }
}

.menu-close-btn {
  position: fixed;
  right: 10px;
  top: 10px;
}
.menu-close-btn:hover, .menu-close-btn:focus {
  fill: #2196F3;
}

.menu-open-btn:hover,
.menu-open-btn:focus {
  fill: #2196F3;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio-mobile/Headerx1-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/studio-mobile/Headerx2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 280px 0 234px 0px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/studio-tablet/Header.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/studio-tablet/Header2x-min.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0 200px 0px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/studio-desktop/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/studio-desktop/hero-2x-min.jpg);
  }
}

.hero-title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

/* button */
.button {
  min-height: 50px;
  min-width: 200px;
  max-width: 250px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  background-color: var(--color-btn);
  color: var(--first-color-content);
  transition: transfom 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .button {
    height: 48px;
  }
}

.button:hover,
.button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .section__text {
    padding-bottom: 47px;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(var(--item-item-ind) * -1);
}

.content-item__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.content-item__link {
  margin-left: 30px;
}
@media screen and (min-width: 480px) {
  .content-item__link {
    width: calc(100% - 30px);
  }
}
@media screen and (min-width: 768px) {
  .content-item__link {
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .content-item__link {
    width: calc(25% - 30px);
  }
}

@media screen and (max-width: 479px) {
  .content-item__link:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .content-item__link:nth-last-child(n+3) {
    margin-bottom: 30px;
  }
}

.content-item__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .content-item__title {
    text-align: center;
  }
}

.content-item__subtitle {
  line-height: 1.7;
  color: var(--last-color-content);
}

.section__picture {
  padding-top: 47px;
}
@media screen and (max-width: 1199px) {
  .section__picture {
    display: none;
  }
}

.picture {
  display: flex;
  position: relative;
  margin-left: calc(var(--item-item-ind) * -1);
}

.content-title,
.my-team {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .content-title,
.my-team {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: var(--item-item-ind);
  }
}

.content-link {
  position: relative;
}

.doing-list {
  min-width: 370px;
}

.content-item__lable {
  position: absolute;
  width: 370px;
  padding: 27px 0;
  bottom: 0px;
  color: var(--first-color-content);
  text-transform: uppercase;
  line-height: 1.14;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.clients-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.clients-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  height: 92px;
  max-width: 210px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc(50% - 30px);
}
.clients-item:hover {
  border-color: #2196f3;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .clients-item {
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc(16.6666666667% - 30px);
  }
}

.clients-icon {
  fill: currentColor;
}

.section__team {
  background: #f5f4fa;
}

.team {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: -15px;
}

.team__item {
  box-shadow: var(--box-border-card);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--first-color-content);
  margin: 15px;
}
@media screen and (min-width: 480px) {
  .team__item {
    width: calc(100% - 30px);
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(25% - 30px);
  }
}

.team-container {
  padding: 20px 0 20px 0;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--last-color-content);
  margin-bottom: 16px;
}

.team-icon__list + .team-icon__list {
  margin-left: 10px;
}

.team-icon__item {
  display: flex;
  justify-content: center;
}

.team-icon__link {
  width: 44px;
  height: 44px;
  background-color: var(--first-color-content);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon__link:hover {
  background-color: var(--color-btn);
}
.team-icon__link:hover .team-icon__sublink {
  fill: var(--first-color-content);
}

.team-icon__sublink {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-bg {
  background: #2f303a;
  padding: 60px 0px;
}

.logo__color-white {
  color: var(--first-color-content);
}

.contact-adress {
  font-style: normal;
}

.contact-item {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .contact-item {
    display: flex;
    justify-content: flex-start;
  }
}

.contact-item:not(:last-child) {
  margin-bottom: 8px;
}

.contant-list {
  margin-top: 20px;
}

.contact-link {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.city {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 76px;
    padding-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .conteiner-footer__adress-spase-betwen {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner-footer__adress-spase-betwen {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner-footer__adress-spase-betwen {
    align-items: baseline;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .conteiner-footer-adress {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner-footer-adress {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .social,
.conteiner-footer-adress {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .social {
    margin-left: 70px;
  }
}

.social-title,
.footer-subbmit-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--first-color-content);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .social-title,
.footer-subbmit-title {
    justify-content: flex-start;
  }
}

.social-icon-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon-sublink {
  fill: var(--first-color-content);
}

/* footer-subbmit */
@media screen and (min-width: 1200px) {
  .container-footer-subbmit {
    width: 570px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subbmit-form {
    display: flex;
  }
}

.footer-subbmit-input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 0 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
}
@media screen and (min-width: 1200px) {
  .footer-subbmit-input {
    width: 358px;
  }
}

.footer-subbmit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-subbmit-icon {
  fill: #fff;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms, visibility 300ms;
  z-index: 100;
}

.backdrop.is-hidden .modal {
  transform: rotate(0) scale(0.3);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 528px;
  transform: rotate(0deg) translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    left: 50%;
  }
}

.modal-close {
  position: absolute;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--box-border-card);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-item {
  fill: #000000;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .modal-title {
    line-height: 1.15;
  }
}

.form-field {
  position: relative;
}

.form-field:nth-last-child(n+4) {
  margin-bottom: 10px;
}

.input-title {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  margin-bottom: 4px;
}

.modal-input {
  padding: 0 42px;
  width: 100%;
  border-radius: 4px;
  height: 38px;
  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-item {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-item:hover {
  fill: var(--color-btn);
}
.modal-item:hover {
  fill: var(--color-btn);
}

.textarea-item {
  width: 100%;
}

.modal-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-input::placeholder:valid {
  border: 1px solid var(--color-btn);
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid var(--color-btn);
}

.textarea-item {
  padding: 12px 16px;
  resize: none;
  height: 120px;
}

.btn-modal {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.input-title-text {
  line-height: 1.7;
  color: #757575;
}

.input-subtext {
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: underline;
  text-underline-position: under;
  color: var(--color-btn);
}

.modal-chexbox {
  margin-top: 20px;
  margin-bottom: 20px;
}
.modal-chexbox .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form-checkbox-icon {
  fill: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.chexbox-custom-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.checkbox-item:checked + .chexbox-custom-icon {
  border-color: transparent;
  background-color: #188ce8;
}

.form-icon {
  position: absolute;
  top: 27px;
  left: 13px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .form-icon, .modal-input:hover + .form-icon {
  fill: var(--color-btn);
}

.portfolio-item {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-title {
  display: flex;
}
@media screen and (max-width: 767px) {
  .portfolio-title {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-title {
    align-items: center;
    justify-content: center;
  }
}

.portfolio-list {
  margin-bottom: 15px;
  margin-right: 8px;
}

.sections-btn {
  min-height: 38px;
  padding: 6px 22px 6px 22px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  background-color: #f5f4fa;
  color: var(--main-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sections-btn:hover, .sections-btn:focus {
  color: var(--first-color-content);
  background-color: var(--color-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.praymeri-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--color-btn);
  color: var(--first-color-content);
}

.porfolio-subtitle {
  margin-left: var(--item-item-ind);
  margin: 15px;
}
@media screen and (min-width: 480px) {
  .porfolio-subtitle {
    width: calc(100% - 30px);
  }
}
@media screen and (min-width: 768px) {
  .porfolio-subtitle {
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .porfolio-subtitle {
    width: calc(33.3333333333% - 30px);
  }
  .porfolio-subtitle .porfolio-subtitle:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
}

.porfolio-subtitle:last-child {
  margin-bottom: 0px;
}

.portfolio-image-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.down-img-portdolio {
  min-height: 146px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.down-img-portdolio {
  padding: 20px 24px 20px 24px;
}

.prtf-first {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.prtf-second {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--last-color-content);
}

.portfolio-image-item:hover,
.portfolio-image-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-image-item:hover:hover .portfolio-cover-text,
.portfolio-image-item:focus:hover .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-item-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  display: block;
  margin: 0 auto;
  height: 100%;
  padding: 63px 24px;
  max-width: 450px;
  top: 0;
  left: 0;
  background-color: var(--color-btn);
  color: #ffffff;
  min-width: 100%;
  font-size: 18px;
  line-height: 1.55;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */