.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 300ms, visibility 300ms;
    z-index: 100;
}

.backdrop.is-hidden .modal {
    transform: rotate(0) scale(0.3);
}

.modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%) scale(1);
    width: 528px;
    background-color: #ffffff;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    padding: 0;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--box-border-card);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-item {
    fill: #000000;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}