.footer-bg {
    background: #2f303a;
}

.logo__color-white {
    color: var(--first-color-content);
}

.contact-adress {
    font-style: normal;
}

.contact-item {
    margin-bottom: 9px;
}

.contant-list {
    margin-top: 20px;
}

.contact-link {
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.city {
    color: #ffffff;
}

.footer {
    display: flex;
    align-items: baseline;
}

.social {
    display: block;
    margin-left: 70px;
}

.social-title,
.footer-subbmit-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--first-color-content);
    margin-bottom: 20px;
}

.social-icon-link {
    background-color: rgba(255, 255, 255, 0.1);
}

.social-icon-sublink {
    fill: var(--first-color-content);
}

/* footer-subbmit */
.container-footer-subbmit {
    margin-left: 93px;
}

.footer-subbmit-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-subbmit-input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 15px 0 15px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: transparent;
}

.footer-subbmit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-subbmit-icon {
    fill: #fff;
    margin-left: 10px;
}

/* PORTOFOLIO */
/* button */


