.header {
    padding: 24px 0;
    border-bottom: 1px solid #ececec;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .navigation__style,
.style-contact__item,
.container-nav {
    align-items: center;
    display: flex;
}

.navigation__style {
    margin-left: 93px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: var(--color-btn);
}

.logo__color-black {
    color: #000000;
}

.navigation__item:not(:last-child) {
    margin-right: var(--fitst-text-ind);
}

.navigation__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.15;
    color: #212121;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: var(--color-btn);
    }
}

.navigation__link__color-green {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.15;
    color: #757575;

    &:hover {
        color: var(--color-btn);
    }

}

.navigation__link__color-green:hover .navigation__sublink {
    fill: currentColor;
}



/* подчеркивание */
.underscore {
    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::after {
        content: " ";
        display: block;
        width: 100%;
        height: 4px;
        margin-top: 29px;
        border-radius: 2px;
        background-color: var(--color-btn);
        opacity: 0;

        position: absolute;
        top: 100%;
        left: 0;

        z-index: 1;

        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover {
        color: var(--color-btn);
    }

    &:hover::after,
    &.active {
        opacity: 1;
    }
}

.navigation__underscore-active:after,
.navigation__underscore-active.active {
    opacity: 1;
}

.navigation__link-active {
    color: var(--color-btn);
}




.navigation__sublink {
    margin-right: 10px;
    fill: #757575;

    .navigation__link:hover & {
        fill: currentColor;
    }
}