.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero {
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;

    color: var(--first-color-content);
}

/* button */
.button {
    min-height: 50px;
    min-width: 200px;
    max-width: 250px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: none;

    border-radius: 4px;
    background-color: var(--color-btn);
    color: var(--first-color-content);
    transition: transfom 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

