.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
}

.form-field {
    position: relative;
}

.form-field:nth-last-child(n + 4) {
    margin-bottom: 10px;
}

.input-title {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: #757575;
    margin-bottom: 4px;
}

.modal-input {
    padding: 0 42px;
    width: 100%;
    border-radius: 4px;
    height: 38px;
    outline: transparent;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-item {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        fill: var(--color-btn);
    }

    &:hover {
        fill: var(--color-btn);
    }
}



.textarea-item {
    width: 100%;
}

.modal-input::placeholder {
    color: rgba(117, 117, 117, 0.5);

    &:valid {
        border: 1px solid var(--color-btn);
    }
}

.modal-input:hover,
.modal-input:focus {
    border: 1px solid var(--color-btn);
}

.textarea-item {
    padding: 12px 16px;
    resize: none;
    height: 120px;
}

.btn-modal {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.input-title-text {
    line-height: 1.7;
    color: #757575;
}

.input-subtext {
    line-height: 1.7;

    letter-spacing: 0.03em;
    text-decoration: underline;
    text-underline-position: under;
    color: var(--color-btn);
}

.modal-chexbox {
    margin-top: 20px;
    margin-bottom: 20px;

    & .checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.modal-form-checkbox-icon {
    fill: #fff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}







.chexbox-custom-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;

    .checkbox-item:checked+& {
        border-color: transparent;
        background-color: #188ce8;
    }
}

.form-icon {
    position: absolute;
    top: 27px;
    left: 13px;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-input:focus+&,
    .modal-input:hover+& {
        fill: var(--color-btn);
    }
}