.section__picture {
    padding-top: 47px;



    @media screen and (max-width: 1199px) {
        display: none;

    }
}

.picture {
    display: flex;
    position: relative;
    margin-left: calc(var(--item-item-ind) * -1);
}

.content-title,
.my-team {

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;

    text-align: center;
    letter-spacing: 0.03em;


    color: var(--main-color);

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: var(--item-item-ind);
    }

}

.content-link {
    position: relative;
}

.doing-list {
    min-width: 370px;

}

.content-item__lable {
    position: absolute;
    width: 370px;
    padding: 27px 0;
    bottom: 0px;
    color: var(--first-color-content);
    text-transform: uppercase;
    line-height: 1.14;
    background: rgba(47, 48, 58, 0.8);

    text-align: center;
}