.section__team {
    background: #f5f4fa;
}

.team {
    display: flex;
}



.team__item {
    box-shadow: var(--box-border-card);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--first-color-content);

    &+& {
        margin-left: var(--item-item-ind);
    }
}

.team-container {
    padding: 20px 0 20px 0;
}

.team__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-color);
}

.team__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--last-color-content);
    margin-bottom: 16px;
}

.team-icon__list+.team-icon__list {
    margin-left: 10px;
}

.team-icon__item {
    display: flex;
    justify-content: center;
}



.team-icon__link {
    width: 44px;
    height: 44px;
    background-color: var(--first-color-content);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: var(--color-btn);
    }

    &:hover .team-icon__sublink {
        fill: var(--first-color-content);
    }
}

.team-icon__sublink {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


}